body {
	font-size: 18px;
	font-family: "Montserrat";
}

.landing-wrapper {
	height: 700px;
	position: relative;
}

.landing {
	margin-top:2.5em;
	display: grid;
	align-items: center;
	grid-template-columns: 70% 30%;
}

.landing-text h1 {
	font-size: 4em;
	font-weight: 800;
}

.landing-text p {
	font-weight: 200;
}

.landing-illustration img{
	display: block;
	margin: auto;
	height: 500px;
	width: 500px;
}

.btn-theme {
	background-image: linear-gradient(-45deg, #ff6f00, #ffa800);
	padding: 0.7em;
	border: none;
}

.navbar button {
	color: #ff6f00;
	background: none;
	border: none;
	transition: 0.5s all;
}

.navbar button:hover {
	color: #fff;
	background: #ff6f00;
	border: none;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}
	.landing-illustration img {
		height: 300px;
		width: 300px;
	}
	.landing {
		grid-template-columns: 100%;
		grid-template-rows: 70% 40%;
		align-items: center;
	}
	.landing-text {
		text-align: center;
	}
}
