body {
	font-family: "Montserrat";
}

.btn-info {
	margin: none;
}

.normal-button {
	color: white;
	background-image: linear-gradient(-45deg, #ff6f00, #ffa800);
	padding: 0.7em;
	border: none;
}

.fade-button {
	color: #ffa800;
	background: #ffaa0000;
	border: none;
	transition: 0.3s all;
}

.separator-grid {
	margin-top:2em;
	align-items: center;
	margin-bottom: 2em;
}

.fade-button:hover {
	color: #fff;
	background: #ffa800;
	border: none;
}

@media only screen and (max-width: 768px) {
	.landing-text {
		text-align: center;
	}

	.landing-illustration img {
		margin-top: 2em;
		height: 375px;
		width: 375px;
	}
}
